<script src="https://unpkg.com/@reactivex/rxjs@5.0.0-beta.7/dist/global/Rx.umd.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js" integrity="sha512-ALoawPS0JxHQ+8dGL7htZIlVNRaE/SN9gHD4G8pJJTi9H4BQ/3PjdvhggSGR34g00mvTPFkxQuveQUsJA5664Q==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.spatial.min.js" integrity="sha512-WrCiPa/Alh9jKtZDVF/OHv+TdGFWXtMEfOtBAEyNu5IllLNKUFkIyoKRQY2vBuloYnhnN4p56/Ob4KJUSPLnbA==" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
     <script src="static/web/bundle.iife.js"></script>
<script src="static/web/growl-notification.min.js"></script>
<script src="static/web/player.js"></script>
<input id="music-volume-slider" type="range" min="0" max="100" value="25" style="width: 100%">
                 <p id="music-volume-disp"></p>
                 <input id="sfx-volume-slider" type="range" min="0" max="100" value="75" style="width: 100%">
                 <p id="sfx-volume-disp"></p>
<h3><span id="status">Unlinked</span></h3>
<h2 class="header-title">&#128075; Hey <span id="in-game-name">there</span>!</h2>
   <canvas id="output" height="500" width="500"></canvas>